.currencySelect {
    display: flex;
    align-items: center;
    gap: 8.67px;
    color: var(--white-color);
    font-size: 15.61px;
    line-height: 23.41px;
}

.currencySelect .flagImg {
    width: 34.68px;
    height: 34.68px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.currencySelect .flagImg img {
    width: 100%;
    height: 100%;
    transform: scale(1.7);
}

.currencyDropdown {
    background-color: transparent;
    color: var(--white-color);
    font-size: 15.61px;
    line-height: 23.41px;
    border: none;
}
.ES-currencyName {
    color: var(--offwhite-90-color);
    font-size: 13.87px;
    line-height: 20.81px;
}
select:focus {
    border: none;
    outline: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    padding: 0;
}

.currencyDropdown option {
    background-color: var(--gray15-color);
}

/*Start Responsive*/
@media (max-width: 1919px) {
    .currencySelect {
        gap: 6.89px;
        font-size: 15.61px;
        line-height: 23.41px;
    }
    .currencyDropdown{
        font-size: 12.4px;
        line-height: 18.59px;
    }
    .ES-currencyName {
        font-size: 11.02px;
        line-height: 16.53px;
    }
    .currencySelect .flagImg{
        width: 27.62px;
        height: 27.47px;
    }
}
@media (max-width: 1200px){
    .currencySelect .flagImg {
        width: 25px;
        height: 25px;
    }

    .ES-currencyName {
        font-size: 9px;
    }
}
@media (max-width: 540px){
    .currencySelect {
        gap: 5.13px;
    }
    .currencySelect .flagImg img {
        transform: scale(2);
    }

    .ES-currencyName {
        font-size: 8.2px;
        line-height: 12.31px;
        text-align: start;
    }

    .currencySelect .flagImg{
        width: 20.57px;
        height: 20.57px;
    }

}
/*End Responsive*/