.AM-product-sec {
    background-color: var(--black10-color);
}

.title-tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

/*tabs  styling */

.tabs {
    width: 386px;
    display: flex;
    padding: 14px;
    margin: 10px 5px;
    background-color: var(--black11-color);
    border: 1px solid var(--gray15-color);
    border-radius: 82px;

}

.tab {
    width: 181px;
    height: 55px;
    border-radius: 140px;
    background-color: transparent;
    color: var(--white-color);
    border: none;
    font-size: 18px;
    text-align: center;
}

.active-tab {
    background-color: var(--green60-color);
    color: var(--black11-color);

}

/* description of title component  styling */

.AM-product-sec .AM-title-comp .desc {
    max-width: 910px;
    margin-bottom: 0;

}

/*non-active row cards styling */

.AM-product-sec .row-cards {
    display: none;
    width: 100%;
}

/*active row cards styling */

.AM-product-sec .active-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

/* media query */

@media (max-width: 1919px) {
    .AM-product-sec .active-content {
        gap: 40px;
    }

    .AM-product-sec .AM-title-comp .desc {
        max-width: 831px;
    }

    .tabs {
        width: 299px;
        padding: 12px;
    }

    .tab {
        width: 139px;
        height: 41px;
        font-size: 14px;
    }
}

@media (max-width: 1200px) {
    .AM-product-sec .active-content {
        gap: 30px;
    }
}


@media (max-width: 992px) {
    .title-tabs {
        justify-content: center;
        text-align: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .AM-product-sec .AM-title-comp .desc {
        max-width: 100%;
    }
    
    .AM-product-sec .row-cards, .AM-product-sec .active-content {
        flex-wrap: wrap;
    }

}

@media (max-width: 540px) {
    .AM-product-sec .AM-title-comp .desc {
        max-width: 358px;
    }

}


@media (max-width: 389px) {
    .AM-product-sec .AM-title-comp .desc {
        max-width: 280px;
    }

}